In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data/test_data.csv",index_col="test_id")
df = df.drop(["question1","question2"],axis=1)

In [9]:
df['is_duplicate'] = 0

In [10]:
df.head()

         is_duplicate
test_id
15                  0
20                  0
21                  0
23                  0
34                  0

In [12]:
df.to_csv('data/submission1.csv')

In [13]:
len(df)

81126